*{
    margin: 0;
    padding: 0;
}
.menu-container{
    background-color: rgb(44, 43, 43);
    padding: 30px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.logo{
    width: 200px;
}
.menus{
    display: flex;
}
.list{
    margin-right: 10px;
    padding-right:20px;
    font-size: 20px;
    cursor: pointer;

}
.list:hover{
    color: yellowgreen;
}
.photo{
    width: 300px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    color: white;
    background-image: url('images/background.png'),linear-gradient(45deg,#1a1919,#0f0f0f);
}
h1{
    font-size: 60px;
    font-weight: 60px;
}
.p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
.button{
    background-color: red;
    color: white;
    padding: 5px;
    border: none;
}
.button:hover{
    color: yellow;
    cursor: pointer;
}
.container{
    display: flex;
    justify-content:space-around ;
    align-items: center;
}
.pic{
    width: 400px;
}
.text{
    text-align: center;
}
.info{
    text-align: center;
    margin-left: 20px 20px 20px 20px ;
}
.butt{
    background-color: red;
    color: white;
    padding: 5px;
}
