*{
    padding: 0 ;
    margin: 5px ;
}
.mean{
    color: rgb(226, 116, 43);
    
}
.container{
    display: flex;
    justify-content:center;
    flex-direction:row-reverse;
}
.box{
    padding: 20px;
    background-color: rgb(133, 9, 9);
    font-size: 50px;
    width: 100px;
}
.box2{
    background-color: greenyellow;
}
.box3{
    background-color: yellow;
}